.person-bild {
  width: 100%;
}

.tour-kort h2 {
  padding: 0.6rem;
}

.kort-p {
  max-width: 75ch;
  padding: 0.9rem;
}

.tour-kort {
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 0rem 0 grey;
}

.tour-kort-item-right {
  padding-left: 2rem;
}

.pic-text {
  font-size: 0.9rem;
  font-style: italic;
}

.breaker {
  width: 100%;
  padding-top: 1rem;

  height: 1px;
  box-shadow: 0 0.1rem 0 grey;
}

.bottom-p {
  color: grey;
  font-style: italic;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.tour-kort-item-contact {
  display: flex;
  flex-direction: column;

  padding-left: 2rem;
}

.kontakt-container {
  display: flex;
  flex-direction: column;
}

.icon-div {
  padding: 0rem;
  margin: 0.4rem;
}

.kontakt-seperator {
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}
